#macarte {
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

.col-lg-12 {
    padding: 30px;
}

li {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

input[type=text] {
    margin-top: 5px;
}

h3 {
    color: white;
}